.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #360940, #f05f57);
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.login-form {
  display: flex;
  padding: 1em 3em;
  flex-direction: column;
  align-items: center;
  font-family: 'Cairo', sans-serif;
}

.control-label {
  font-size: 20px;
  padding: 0 1em;
  color: #f3f3f3;
}

.form-control {
  padding: 0.5em 1em;
  font-size: 18px;
  text-align: center;
  font-family: 'Cairo', sans-serif;
  border: none;
  background: #f3f3f3;
  border-radius: 3px;
}

.button {
  padding: 0.3em 1em 0.3em 1em;
  cursor: pointer;
}
