.Registration {
  align-items: unset;
}

.miniview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results {
  margin-top: 1em;
  padding: 0.5em;
  width: 40%;
}

.result {
  font-size: 19px;
  font-family: 'Dosis', sans-serif;
  background: #f2f2f2;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.5em;
  text-align: center;
}

.result:last-of-type {
  border-bottom: none;
}

.result:hover {
  background: #999;
  color: #fff;
}

.RegForm {
  align-items: left;
}

#RegForm label {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  color: #4d4d4d;
}

#RegForm button {
  padding: 1em 1.5em;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  background: #f3f3f3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: #404040;
}

#RegForm button:hover {
  background: #ccc;
}
