.user-details {
  padding: 1em 0;
}

.details {
  padding: 0.2em 3em;
  display: flex;
  flex-direction: column;
}

.details > .control-label {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  padding: 0.3em;
  color: #808080;
}

#new > .details > .form-control {
  margin-bottom: 1em;
}

.user > .parent {
  padding: 0.5em 0;
}

.user > .parent > .part {
  font-size: 20px
}
