.view {
  overflow: hidden;

  height: 100%;
  display: flex;
}

.Menu {
  font-family: 'Dosis', sans-serif;
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(-45deg, #002661, #92ffc0);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.Menu > .account {
  text-align: left;
  flex: 1;
  padding: 0.5em 1em;
}

.Menu > .account > h2, .Menu > .account > h3, .Menu > .account > a {
  margin: 0.5em
}

.Menu > .tabs {
  flex: 8;
  display: flex;
  padding: 0 1em;
  flex-direction: column;
}

.Menu > .tabs > a {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 0.7em 1em;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.4s;
  border-radius: 4px;
  margin-top: 1.5em;
}

.Menu > .tabs > a.active {
  background: rgba(255, 255, 255, 0.5);
}

.Menu > .tabs > a:hover {
  color: #404040;
  background: rgba(255, 255, 255, 0.5);
}

.content {
  flex: 6;
  padding: 1em;
  overflow-y: scroll;
}

.content > h2 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
}

.divisions {
  display: flex;
  font-family: 'Dosis', sans-serif;
}

.part {
  flex: 3;
  padding: 0.5em;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cats {
  flex: 2;
}

.action {
  cursor: pointer;
  flex: 1;
}

.delete {
  color: red;
}

.label {
  flex: 1;
}

.part > .form-control {
  padding: 0.3em;
}

.parent {
  border-bottom: 1px solid #999;
}

.expand {
  cursor: pointer;
}

.subview {
  padding: 1em;
  opacity: 0;
  height: 0;
  transition: 0.4s;
  border-top: none;
  display: none;
  font-family: 'Dosis', sans-serif;
}

.expanded {
  opacity: 1;
  height: auto;
}

.categories, .user-details {
  background: #e6e6e6;
}

.categories, .candidates, .user-details {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
}

.candidates {
  background: #ccc;
}
